.wrapper{
    display: flex;
    flex-direction: column;
    bottom: 108px;
    position: fixed;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    margin-bottom: 10px;
}
.wrapper .button:nth-child(1){
    background: #4267B2;
    color: #fff;
}
.wrapper .button:nth-child(2){
    background: #DE463B;
    color: #fff;
}
.wrapper .button:nth-child(1):hover{
    width: fit-content;
    border: #fff solid 1px;
    background: #279cfe;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(2):hover{
    width: fit-content;
    border: #fff solid 1px;
    background: #e76d65;
    transition: all 0.3s ease-out;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #DE463B;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    padding-right: 15px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span, 
.wrapper .button:nth-child(2) span
{
    color: #fff;
}

.lienhe_ngay {
    bottom: 50px;
    width: fit-content;
    position: fixed;
    cursor: pointer;
    padding: 15px;
    background-image: linear-gradient(to right, #279cfe, #01c2ce);
    border-radius: 30px;
  }
  
  .lienhe_ngay p {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
  }